Repository libertininick/chain-reaction: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoclint, nbstripout, ty-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Ruff linter
      - id: ruff
        name: ruff linter
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      # Ruff formatter
      - id: ruff-format
        name: ruff formatter
        entry: uv run ruff format
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      # pydoclint docstring linter
      - id: pydoclint
        name: pydoclint
        entry: uv run pydoclint --style=google --allow-init-docstring=True
        language: system
        types: [python]

      # nbstripout for Jupyter notebooks
      - id: nbstripout
        name: nbstripout
        entry: uv run nbstripout
        language: system
        types: [jupyter]

      # ty type checker
      - id: ty-check
        name: ty type checker
        entry: uv run ty check .
        language: system
        types: [python]
        pass_filenames: false  # check the entire project rather than just staged files

Add configuration model for API key management
  config.py
  pyproject.toml
  template.env
  uv.lock
Due: pydoclint, ty-check

Add information about API key setup to README
  README.md
Due: none

Add OpenAI api key slot
  README.md
  template.env
Due: none

Update docstring
  config.py
Due: pydoclint, ty-check

Add ModelName enumeration to config
  config.py
Due: pydoclint, ty-check

Update config for pydoclint
  pyproject.toml
Due: none

Update docstrings in config.py
  config.py
Due: pydoclint, ty-check

Add getting started notebook
  getting-started.ipynb
Due: nbstripout

Add Verify Your Setup section to README
  README.md
Due: none

Convert to a python package to use tools across courses
  getting-started.ipynb
  main.py
  pyproject.toml
  src/chain_reaction/__init__.py
  src/chain_reaction/config.py
  uv.lock
Due: pydoclint, nbstripout, ty-check

Add prompt and responses notebook
  1-langchain-fundamentals/1-prompts-and-responses.ipynb
Due: nbstripout

Add book review analysis example
  1-langchain-fundamentals/1-prompts-and-responses.ipynb
Due: nbstripout

Use init_chat_model
  1-langchain-fundamentals/1-prompts-and-responses.ipynb
  getting-started.ipynb
Due: nbstripout

Add memory module
  pyproject.toml
  src/chain_reaction/memory.py
Due: pydoclint, ty-check

Add notebook on chat history memory
  1-langchain-fundamentals/2-short-term-memory.ipynb
Due: nbstripout

Rename short-term memory to step 3
  1-langchain-fundamentals/3-short-term-memory.ipynb
Due: nbstripout

Update README for change to book path
  README.md
Due: none

Add prompt template step
  1-langchain-fundamentals/2-prompt-templates.ipynb
Due: nbstripout

Update notebook with example of template from messages
  1-langchain-fundamentals/1-prompts-and-responses.ipynb
Due: nbstripout

Add model behavior parameter config
  src/chain_reaction/config.py
Due: pydoclint, ty-check

Update notebook
  1-langchain-fundamentals/1-prompts-and-responses.ipynb
Due: nbstripout

Move short-tem memory back to 2 and add intro to chains
  1-langchain-fundamentals/2-short-term-memory.ipynb
  1-langchain-fundamentals/3-intro-to-chains.ipynb
  1-langchain-fundamentals/README.md
  README.md
Due: nbstripout

Add link to concept 1
  README.md
Due: none

Update dependencies and add update commands to README
  README.md
  uv.lock
Due: none

Add links module
  src/chain_reaction/links.py
Due: pydoclint, ty-check

Remove top_p from model behavior config
  src/chain_reaction/config.py
Due: pydoclint, ty-check

Update chains notebook
  1-langchain-fundamentals/3-intro-to-chains.ipynb
Due: nbstripout

Update progress
  1-langchain-fundamentals/README.md
  README.md
Due: none

Initialize module 2: LangGraph Fundamentals
  1-langchain-fundamentals/README.md
  2-langgraph-fundamentals/1-simple-graph.ipynb
  2-langgraph-fundamentals/README.md
  README.md
Due: nbstripout

Add loguru
  pyproject.toml
  uv.lock
Due: none

Finish simple graph example
  2-langgraph-fundamentals/1-simple-graph.ipynb
  2-langgraph-fundamentals/README.md
Due: nbstripout

Update dependencies
  uv.lock
Due: none

Add create LangChain agent
  1-langchain-fundamentals/4-create-an-agent.ipynb
  1-langchain-fundamentals/README.md
Due: nbstripout

Remove field ellipses
  1-langchain-fundamentals/4-create-an-agent.ipynb
Due: nbstripout

Add agent tools notebook; reorder notebooks
  1-langchain-fundamentals/2-intro-to-chains.ipynb
  1-langchain-fundamentals/3-create-an-agent.ipynb
  1-langchain-fundamentals/4-agent-tools.ipynb
  1-langchain-fundamentals/5-short-term-memory.ipynb
  1-langchain-fundamentals/README.md
Due: nbstripout

Add memory agent
  1-langchain-fundamentals/5-short-term-memory.ipynb
Due: nbstripout

Add tavily dependency
  pyproject.toml
  uv.lock
Due: none

Add tavily api key to config
  src/chain_reaction/config.py
Due: pydoclint, ty-check

Add web search tool
  1-langchain-fundamentals/4-agent-tools.ipynb
Due: nbstripout

Update README
  1-langchain-fundamentals/README.md
Due: none
