Repository libertininick/chain-reaction: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoclint, nbstripout, ty-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Ruff linter
      - id: ruff
        name: ruff linter
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      # Ruff formatter
      - id: ruff-format
        name: ruff formatter
        entry: uv run ruff format
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

      # pydoclint docstring linter
      - id: pydoclint
        name: pydoclint
        entry: uv run pydoclint --style=google --allow-init-docstring=True
        language: system
        types: [python]

      # nbstripout for Jupyter notebooks
      - id: nbstripout
        name: nbstripout
        entry: uv run nbstripout
        language: system
        types: [jupyter]

      # ty type checker
      - id: ty-check
        name: ty type checker
        entry: uv run ty check .
        language: system
        types: [python]
        pass_filenames: false  # check the entire project rather than just staged files

Add utility for getting the last message
  src/chain_reaction/utils.py
Due: pydoclint, ty-check

Add context and state notebook
  1-langchain-fundamentals/6-context-and-state.ipynb
  1-langchain-fundamentals/README.md
Due: nbstripout

Add state module with MessageStateMixin
  src/chain_reaction/state.py
Due: pydoclint, ty-check

Add custom state examples
  1-langchain-fundamentals/6-context-and-state.ipynb
Due: nbstripout

Update comment
  1-langchain-fundamentals/6-context-and-state.ipynb
Due: nbstripout

Add pytest
  pyproject.toml
  uv.lock
Due: none

Add get_structured_response utility
  src/chain_reaction/utils.py
Due: pydoclint, ty-check

Add multi-agent notebook
  1-langchain-fundamentals/7-multi-agent-systems.ipynb
  1-langchain-fundamentals/README.md
Due: nbstripout

Add exception for responses missing "structured_response"
  src/chain_reaction/utils.py
Due: pydoclint, ty-check

Add agent with state example
  1-langchain-fundamentals/7-multi-agent-systems.ipynb
Due: nbstripout

Add caching module for caching tool calls
  pyproject.toml
  src/chain_reaction/caching.py
  tests/__init_.py
  tests/test_caching.py
  uv.lock
Due: pydoclint, ty-check

Fix typo in notebook
  1-langchain-fundamentals/4-agent-tools.ipynb
Due: nbstripout

Add notebook on tool caching
  1-langchain-fundamentals/4.1-cache-tool-calls.ipynb
Due: nbstripout

Add get_messages
  src/chain_reaction/utils.py
Due: pydoclint, ty-check

Add managing long conversations notebook
  1-langchain-fundamentals/8-managing-long-conversations.ipynb
  1-langchain-fundamentals/README.md
Due: nbstripout

Add pydantic email-validator
  pyproject.toml
  uv.lock
Due: none

Update packages
  uv.lock
Due: none

Add human-in-the-loop notebook
  1-langchain-fundamentals/9-human-in-the-loop.ipynb
  1-langchain-fundamentals/README.md
Due: nbstripout

Add dynamic agents notebook
  1-langchain-fundamentals/10-dynamic-angents.ipynb
  1-langchain-fundamentals/README.md
Due: nbstripout

Add table
  1-langchain-fundamentals/10-dynamic-angents.ipynb
Due: nbstripout

Add ollama agent notebook
  1-langchain-fundamentals/3.1-ollama-agent.ipynb
  pyproject.toml
  uv.lock
Due: nbstripout

Update README
  1-langchain-fundamentals/README.md
Due: none

Downgrade to py 3.13
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  src/chain_reaction/config.py
  src/chain_reaction/memory.py
  uv.lock
Due: pydoclint, ty-check

Update main README
  README.md
Due: none

Add "langgraph-cli[inmem]"
  pyproject.toml
  uv.lock
Due: none

Ignore extra fields in .env
  src/chain_reaction/config.py
Due: pydoclint, ty-check

Add LangSmith configuration
  .gitignore
  1-langchain-fundamentals/agents/scifi_writer.py
  README.md
  langgraph.json
  template.env
Due: pydoclint, ty-check

Add fastmcp dependency
  pyproject.toml
  uv.lock
Due: none

Add scipy dependency
  pyproject.toml
  uv.lock
Due: none

Add langchain-mcp-adapters dependency
  pyproject.toml
  uv.lock
Due: none

Add Bayesian Beta-Binomial MCP Server
  3-mcp-fundamentals/1-bayesian-tools/README.md
  3-mcp-fundamentals/1-bayesian-tools/agent.ipynb
  3-mcp-fundamentals/1-bayesian-tools/server.py
  3-mcp-fundamentals/README.md
  uv.lock
Due: pydoclint, nbstripout, ty-check

Update main README (2)
  README.md
Due: none

Add exclude newer than 1 week to dependency updates
  README.md
Due: none

Update dependencies
  uv.lock
Due: none

Refactor notebook layout
  1-langchain-fundamentals/README.md
  2-langgraph-fundamentals/README.md
  README.md
  agents/scifi_writer.py
  langgraph.json
  mcp-servers/bayesian-tools/README.md
  mcp-servers/bayesian-tools/agent.ipynb
  mcp-servers/bayesian-tools/server.py
  mcp-servers/mcp-fundamentals.md
  notebooks/dynamic-angents.ipynb
  notebooks/fundamentals/create-an-agent.ipynb
  notebooks/fundamentals/intro-to-chains.ipynb
  notebooks/fundamentals/ollama-agent.ipynb
  notebooks/fundamentals/prompts-and-responses.ipynb
  notebooks/fundamentals/simple-graph.ipynb
  notebooks/human-in-the-loop.ipynb
  notebooks/memory-context-state/context-and-state.ipynb
  notebooks/memory-context-state/managing-long-conversations.ipynb
  notebooks/memory-context-state/short-term-memory.ipynb
  notebooks/multi-agent-systems.ipynb
  notebooks/tools/agent-tools.ipynb
  notebooks/tools/cache-tool-calls.ipynb
Due: pydoclint, nbstripout, ty-check

Rename notebook
  README.md
  notebooks/tools/context-based-tools.ipynb
Due: nbstripout

Add recursion limit notebook
  README.md
  notebooks/tools/recusion-limits.ipynb
Due: nbstripout

Add langchain-community
  pyproject.toml
  uv.lock
Due: none

Ignore local data dir
  .gitignore
Due: none
