Repository libertininick/chain-reaction: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, ty-check

nbstripout:
  name: nbstripout
  entry: uv run nbstripout
  language: system

ty-check:
  name: ty type checker
  entry: uv run ty check .
  language: system
  pass_filenames: false

Change update-plan command to create new updated plan document
  .claude/CLAUDE.md
  .claude/README.md
  .claude/commands/update-plan.md
  .claude/manifest.json
  .claude/usage-guides/agentic-coding-workflow.md
  .claude/usage-guides/context-window-management.md
Due: none

Change update-plan command to create new updated plan document (#13)
  .claude/CLAUDE.md
  .claude/README.md
  .claude/commands/update-plan.md
  .claude/manifest.json
  .claude/usage-guides/agentic-coding-workflow.md
  .claude/usage-guides/context-window-management.md
Due: none

Add validate-code skill
  .claude/CLAUDE.md
  .claude/README.md
  .claude/agents/code-cleaner.md
  .claude/agents/python-code-writer.md
  .claude/agents/python-test-writer.md
  .claude/agents/test-reviewer.md
  .claude/commands/clean.md
  .claude/commands/implement.md
  .claude/commands/review.md
  .claude/manifest.json
  .claude/scripts/validate_code.py
  .claude/skills/complexity-refactoring/SKILL.md
  .claude/skills/docstring-conventions/SKILL.md
  .claude/skills/plan-template/SKILL.md
  .claude/skills/run-python-safely/SKILL.md
  .claude/skills/skill-template/SKILL.md
  .claude/skills/test-writing/SKILL.md
  .claude/skills/type-hints/SKILL.md
  .claude/skills/validate-code/SKILL.md
  .claude/usage-guides/agentic-coding-workflow.md
  .claude/usage-guides/reviewer-friendly-prs.md
Due: ty-check

Add tests for validate_code script
  .claude/scripts/test_validate_code.py
Due: ty-check

feat: Add centralized validate-code skill and script (#14)
  .claude/CLAUDE.md
  .claude/README.md
  .claude/agents/code-cleaner.md
  .claude/agents/python-code-writer.md
  .claude/agents/python-test-writer.md
  .claude/agents/test-reviewer.md
  .claude/commands/clean.md
  .claude/commands/implement.md
  .claude/commands/review.md
  .claude/manifest.json
  .claude/scripts/test_validate_code.py
  .claude/scripts/validate_code.py
  .claude/skills/complexity-refactoring/SKILL.md
  .claude/skills/docstring-conventions/SKILL.md
  .claude/skills/plan-template/SKILL.md
  .claude/skills/run-python-safely/SKILL.md
  .claude/skills/skill-template/SKILL.md
  .claude/skills/test-writing/SKILL.md
  .claude/skills/type-hints/SKILL.md
  .claude/skills/validate-code/SKILL.md
  .claude/usage-guides/agentic-coding-workflow.md
  .claude/usage-guides/reviewer-friendly-prs.md
Due: ty-check

Update guide on understanding coding agent
  .claude/usage-guides/understanding-llm-coding-agents.md
Due: none

Add Adding a New Framework to main claude dir README
  .claude/README.md
Due: none

Migrate dataframe_toolkit to own repo
  src/chain_reaction/config.py
  src/chain_reaction/dataframe_toolkit/__init__.py
  src/chain_reaction/dataframe_toolkit/context.py
  src/chain_reaction/dataframe_toolkit/exceptions.py
  src/chain_reaction/dataframe_toolkit/identifier.py
  src/chain_reaction/dataframe_toolkit/models.py
  src/chain_reaction/dataframe_toolkit/persistence.py
  src/chain_reaction/dataframe_toolkit/polars_utils.py
  src/chain_reaction/dataframe_toolkit/registry.py
  src/chain_reaction/dataframe_toolkit/sql_utils.py
  src/chain_reaction/dataframe_toolkit/toolkit.py
  tests/__init__.py
  tests/dataframe_toolkit/__init__.py
  tests/dataframe_toolkit/test_context.py
  tests/dataframe_toolkit/test_exceptions.py
  tests/dataframe_toolkit/test_models/__init__.py
  tests/dataframe_toolkit/test_models/test_dataframe_reference.py
  tests/dataframe_toolkit/test_models/test_dataframe_toolkit_state.py
  tests/dataframe_toolkit/test_models/test_tool_call_error.py
  tests/dataframe_toolkit/test_persistence.py
  tests/dataframe_toolkit/test_sql_utils.py
  tests/dataframe_toolkit/test_toolkit/__init__.py
  tests/dataframe_toolkit/test_toolkit/test_registration.py
  tests/dataframe_toolkit/test_toolkit/test_state.py
  tests/dataframe_toolkit/test_toolkit/test_toolkit_integration.py
  tests/dataframe_toolkit/test_toolkit/test_tools.py
Due: ty-check

Ignore claude config; moved to pyclaudefig
  .gitignore
Due: none

Add LangChain ChromaDB and text splitters
  pyproject.toml
  uv.lock
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add wikipedia package
  pyproject.toml
Due: none

Update dependencies
  uv.lock
Due: none

Add langchain-openai
  pyproject.toml
  uv.lock
Due: none

Add more-itertools
  pyproject.toml
Due: none

Update lockfile
  uv.lock
Due: none

Add vector store and rag chain notebooks
  README.md
  notebooks/RAG/rag-chain.ipynb
  notebooks/RAG/vector-db.ipynb
Due: nbstripout

Add huggingface dependencies
  pyproject.toml
  uv.lock
Due: none

Add vector store module and fix ty errors
  src/chain_reaction/caching.py
  src/chain_reaction/vector_store.py
Due: ty-check

Update vector db notebook
  notebooks/RAG/vector-db.ipynb
Due: nbstripout

Update RAG chain notebook to use vector store module
  notebooks/RAG/rag-chain.ipynb
Due: nbstripout

Add corrective RAG notebook
  README.md
  notebooks/RAG/corrective-rag.ipynb
  pyproject.toml
Due: nbstripout

Adding deepagents library
  pyproject.toml
  uv.lock
Due: none

Add deep agents section
  README.md
  notebooks/deep-agents/README.md
Due: none

Add deep agents overview png
  notebooks/deep-agents/README.md
  notebooks/deep-agents/deep-agents-overview.png
Due: none

Add get_chat_model to config
  .pre-commit-config.yaml
  src/chain_reaction/config.py
Due: ty-check

Add format_message utility
  src/chain_reaction/utils.py
Due: ty-check

Add notebook for creating a simple ReAct agent w/ custom state
  README.md
  notebooks/deep-agents/create-agent.ipynb
  pyproject.toml
Due: nbstripout

Add reducers module
  notebooks/deep-agents/create-agent.ipynb
  src/chain_reaction/reducers.py
Due: nbstripout, ty-check

Add agent planning notebook
  README.md
  notebooks/deep-agents/planning.ipynb
Due: nbstripout

Update planning notebook
  notebooks/deep-agents/planning.ipynb
Due: nbstripout

Add filesystem notebook
  notebooks/deep-agents/filesystem.ipynb
Due: nbstripout

Update README
  README.md
Due: none

Add subagent notebook
  README.md
  notebooks/deep-agents/subagents.ipynb
Due: nbstripout

Add web search tools
  pyproject.toml
  src/chain_reaction/web_search.py
  tests/test_web_search.py
  uv.lock
Due: ty-check

Add thinking notebook
  notebooks/deep-agents/thinking.ipynb
Due: nbstripout

Planning tools not needed
  notebooks/deep-agents/thinking.ipynb
Due: nbstripout

Path conditions:
  nbstripout: any of: \.ipynb$
  ty-check: any of: \.py$
