Repository libertininick/chain-reaction: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, ty-check

nbstripout:
  name: nbstripout
  entry: uv run nbstripout
  language: system

ty-check:
  name: ty type checker
  entry: uv run ty check .
  language: system
  pass_filenames: false

Add SQL agent example
  README.md
  notebooks/tools/sql-agent.ipynb
Due: nbstripout

Add polars dependency
  pyproject.toml
  uv.lock
Due: none

Begin stubbing out dataframe toolkit
  README.md
  notebooks/tools/dataframe-agent.ipynb
Due: nbstripout

Add example usage to caching module
  src/chain_reaction/caching.py
Due: ty-check

Add example usage to config module
  src/chain_reaction/config.py
Due: ty-check

Add pytest-check and pytest-cov development dependencies
  pyproject.toml
  uv.lock
Due: none

Add agent directives
  .claude/CLAUDE.md
  .claude/agents/python-code-reviewer.md
  .claude/agents/python-test-writer.md
  .claude/commands/implement-and-review.md
  .claude/development-conventions.md
  .claude/frameworks.md
Due: none

Remove memory module
  notebooks/memory-context-state/short-term-memory.ipynb
  src/chain_reaction/memory.py
Due: nbstripout, ty-check

Remove state module in favor of langgraph.graph.MessageState
  notebooks/memory-context-state/context-and-state.ipynb
  notebooks/multi-agent-systems.ipynb
  src/chain_reaction/state.py
Due: nbstripout, ty-check

Update notebook
  notebooks/multi-agent-systems.ipynb
Due: nbstripout

Update License
  LICENSE
Due: none

Add scikit-learn
  pyproject.toml
  uv.lock
Due: none

Update dependencies
  uv.lock
Due: none

Initialize dataframe toolkit module
  src/chain_reaction/dataframe_toolkit/__init__.py
Due: ty-check

Add DataFrameContext class
  src/chain_reaction/dataframe_toolkit/context.py
  tests/dataframe_toolkit/test_context.py
Due: ty-check

Add __init__ for dataframe toolkit tests
  tests/dataframe_toolkit/__init__.py
Due: ty-check

Refactor to use DataFrameId
  src/chain_reaction/dataframe_toolkit/context.py
  tests/dataframe_toolkit/test_context.py
Due: ty-check

Add validation for DataFrameId
  src/chain_reaction/dataframe_toolkit/context.py
  tests/dataframe_toolkit/test_context.py
Due: ty-check

Add dataframe identifier module
  src/chain_reaction/dataframe_toolkit/identifier.py
Due: ty-check

Refine DataFrameContext
  src/chain_reaction/dataframe_toolkit/context.py
  tests/dataframe_toolkit/test_context.py
Due: ty-check

Add polars utilities module
  src/chain_reaction/dataframe_toolkit/polars_utils.py
Due: ty-check

Add data models for toolkit
  src/chain_reaction/dataframe_toolkit/models.py
Due: ty-check

Update agent docs
  .claude/CLAUDE.md
  .claude/development-conventions.md
  .claude/frameworks.md
Due: none

Add command to check docstring format to quick reference
  .claude/CLAUDE.md
Due: none

Add reAct agent notebook
  README.md
  notebooks/tools/react-agent-graph.ipynb
Due: nbstripout

Add notebook to compile graph with memory
  README.md
  notebooks/memory-context-state/compile-graph-w-memory.ipynb
Due: nbstripout

Update notebook
  notebooks/memory-context-state/compile-graph-w-memory.ipynb
Due: nbstripout

Add exclude new config for uv
  pyproject.toml
Due: none

Use uv config for exclude newer
  README.md
Due: none

Update lockfile
  uv.lock
Due: none

Unify dataframe name
  src/chain_reaction/dataframe_toolkit/context.py
  tests/dataframe_toolkit/test_context.py
Due: ty-check

Rename df to dataframe
  src/chain_reaction/dataframe_toolkit/models.py
Due: ty-check

Add notebook on handling tool call errors
  README.md
  notebooks/tools/handling-tool-call-errors.ipynb
Due: nbstripout

Move getting started notebook
  README.md
  notebooks/fundamentals/getting-started.ipynb
Due: nbstripout

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add SQLGlot
  pyproject.toml
  uv.lock
Due: none

Refactor frameworks
  .claude/frameworks.md
Due: none

Update test writer agent
  .claude/agents/python-test-writer.md
Due: none

Add planner agent
  .claude/agents/planner.md
  .claude/plans/examples/example-bugfix.md
  .claude/plans/examples/example-refactor.md
  .claude/plans/examples/example-simple-feature.md
Due: none

Add plan command
  .claude/CLAUDE.md
  .claude/commands/plan.md
Due: none

Path conditions:
  nbstripout: any of: \.ipynb$
  ty-check: any of: \.py$
